@using Task2.Models
@{
    ViewBag.Title = "display";
    Image_Data image = ViewBag.img_data;
}
<h2>display</h2>

<style>
    * {
        box-sizing: border-box;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row::after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<form action="/Form/Insert" method="post" style=" border-radius: 5px; background-color: #f2f2f2; padding: 20px;">

    <div class="row">
        <div class="col-25">
            <label>ID</label>
        </div>
        <div class="col-25">
            <input type="text" value="@image.Id" readonly="readonly">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label>Name</label>
        </div>
        <div class="col-25">
            <input type="text" name="Name" value="@image.Name" readonly="readonly">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label>Image</label>
        </div>
        <div class="col-25">
            <img width="280" height="280" src="~/Models/images/@image.src.SrcOfImage" alt="not available">
        </div>
    </div>


    <div class="row">
        <div class="col-25">
        </div>
        <div class="col-25">
            <input type="submit" value="Back" />
        </div>

    </div>
</form>

